@import 'tailwindcss';

@theme {
	--font-sans: 'Roboto', system-ui;
	--font-accent: 'Saira Condensed', system-ui;

	--font-weight-accent-bold: 600;

	--color-accent: #dd1e25;

	--content-max-width: 768px; /* take care of image sizes if changed */
	--breakpoint-xs: 468px;

	--aspect-media: 3 / 2;
}

@utility grid-1 {
	grid-row: 1;
	grid-column: 1;
}

@layer base {
	@font-face {
		font-style: normal;
		font-weight: 400;
		src:
			local('Roboto-Regular'),
			url('/fonts/Roboto-Regular.woff2') format('woff2');
		font-family: 'Roboto';
		font-display: swap;
	}

	@font-face {
		font-style: normal;
		font-weight: 700;
		src:
			local('Roboto-Bold'),
			url('/fonts/Roboto-Bold.woff2') format('woff2');
		font-family: 'Roboto';
		font-display: swap;
	}

	@font-face {
		font-style: normal;
		font-weight: 600;
		src:
			local('SairaCondensed-Semibold'),
			url('/fonts/SairaCondensed-Semibold.woff2') format('woff2');
		font-family: 'Saira Condensed';
		font-display: swap;
	}

	html {
		@apply accent-accent antialiased;
		scrollbar-gutter: stable;

		&:has(nav) {
			@apply overflow-hidden;
		}
	}
}

@layer components {
	.content-grid,
	.content-grid--raw {
		--content-padding: --spacing(4);
		--breakout-size: var(--content-padding);

		display: grid;
		grid-template-columns:
			[full-width-start]
			minmax(0, 1fr)
			[breakout-start]
			minmax(var(--content-padding), var(--breakout-size))
			[content-start]
			min(50% - var(--content-padding), var(--content-max-width) / 2)
			[center]
			min(50% - var(--content-padding), var(--content-max-width) / 2)
			[content-end]
			minmax(var(--content-padding), var(--breakout-size))
			[breakout-end]
			minmax(0, 1fr)
			[full-width-end];
	}

	.content-grid > :not(.content-grid, .content-grid__breakout, .content-grid__full-width),
	.content-grid > .contents > :not(.content-grid, .content-grid__breakout, .content-grid__full-width) {
		grid-column: content;
	}

	.content-grid > .content-grid__breakout,
	.content-grid > .contents > .content-grid__breakout {
		grid-column: breakout;
	}

	.content-grid > .content-grid,
	.content-grid > .contents > .content-grid,
	.content-grid__full-width {
		grid-column: full-width;
	}

	.heading-1,
	.heading-2,
	.heading-3,
	.heading-4,
	.heading-5,
	.heading-6,
	.heading-footer {
		--_font-size: var(--font-size, 2rem);
		--_letter-spacing: var(--letter-spacing, -0.3rem);
		--_color: var(--color, var(--color-slate-800));

		padding-top: calc(var(--_font-size) / 4);
		width: fit-content;
		color: var(--color);
		font-weight: var(--font-weight-accent-bold);
		font-size: var(--_font-size);
		line-height: 1.2;
		font-family: var(--font-accent);
		text-decoration: underline;
		text-decoration-color: var(--color-accent);
		text-decoration-thickness: 0.125rem;
		text-underline-offset: 0.5rem;
		text-transform: uppercase;
		text-wrap: balance;

		> span:last-child {
			display: inline grid;
			align-items: baseline;
			justify-items: center;
			text-decoration: inherit;
			text-decoration-color: inherit;
			text-decoration-thickness: inherit;

			&::before,
			&::after {
				grid-row: 1;
				grid-column: 1;
			}

			&::after {
				align-items: baseline;
				border-radius: var(--radius-xs);
				background-color: var(--color-accent);
				aspect-ratio: 1;
				width: 0.35em;
				content: '';
			}

			&::before {
				content: '\00a0\00a0\00a0\00a0';
				text-decoration: inherit;
				text-decoration-color: inherit;
				text-decoration-thickness: inherit;
			}
		}
	}

	.heading-1 {
		--font-size: 2.8rem;
	}

	.heading-2 {
		--font-size: 2.2rem;
	}

	.heading-3 {
		--font-size: 1.5rem;
	}

	.heading-4 {
		--font-size: 1.25rem;
	}

	.heading-5 {
		--font-size: 1rem;
	}

	.heading-6 {
		--font-size: 0.85rem;
	}

	.heading-footer {
		--font-size: 0.875rem;
		--letter-spacing: -0.1rem;
		--color: var(--color-white);

		padding-top: 0 !important;
	}

	.prose {
		ul {
			@apply list-disc space-y-2 pl-6;
		}

		ol {
			@apply list-decimal space-y-2 pl-6;
		}

		a[href] {
			@apply hover:text-accent focus:text-accent underline decoration-from-font underline-offset-2;
		}
	}

	[id] {
		scroll-margin: 70px;
	}

	p {
		@apply hyphens-auto;
	}
}
